*{
    margin:0;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

/* -- HEADER -- */

header {
    background-color: rgb(235,235,235);
}

header .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 380px;

}

header .part2{
    display: flex;
    justify-content: start;
    align-items: center;
}

header .icone-xhopii{
    width: 80px;
    height: 80px;
}

header .header h1 {
    font-size: xx-large;
    color:rgb(225,96,61);
}

header section p {
    color:rgb(225,96,61);
}

/* -- MAIN -- */ 


main {
    background-color: rgb(255,255,255);
    display: flex;
    justify-content: center;
}


#popup-login {
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 25px;
    margin: 40px 0 40px 0;
    background-color: rgb(255,255,255);
    width: 625px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

#popup-login i {
    width: 20px;
    height: 20px;
}

.form{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

form h3{
    font-size: x-large;
}

input, #button-enviar{
    height: 50px;
    width: 100%;
}

input {
    font-size:medium;
    border: 1px solid rgba(0,0,0,0.1);
    text-indent: 20px;
}

#button-enviar {
    background-color: rgb(225,96,61);
    color: rgb(255,255,255);

    font-size: large;
}

ul{
    list-style-type: none;
}

ul li img {
    width: 30px;
    height: 30px;
}

p {
    color: rgb(205,205,205);
}

#p-cadastrar{
    margin-left: 5px;
    color: rgb(225,96,61);
}

#novo-xhopii{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}



/* FOOTER */

footer #footer {
    background-color: rgb(235,235,235);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: stretch;
    height: 300px;
}

footer ul li{
    margin-top:10px;
}

#footer ul h4{
    margin-top: 0;
    margin-bottom: 15px;
}

.pagamento{
    display: inline;
}
.pagamento section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 200px;
}

#footer .pagamento img{
    width: 40px;
    height: 30px;
    padding: 12px 12px 12px 0px;
}

#footer  #plataformas .plataforma{
    width: 100px;
    height: 50px;

}

#footer #plataformas .qrcode {
    width: 100px;
    height: 100px;
}

