* {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    list-style: none;
    padding: 0;
}

header{
    background-color: rgb(225,96,61);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3{
    color: rgb(255,255,255);
    margin-right: 25px;
}
header .header {
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px 0 5px 0;
}
header .header img {
    width: 50px;
    height: 50px;
}
header .header h1{
    color: rgb(255,255,255);
    font-size: xx-large;
}

nav {
    background-color: rgb(251, 119, 48);
}

nav .menu-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

nav .menu-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 80%;
    height: inherit;
    color: rgb(227,100,60);
    padding: 0;
    
}

nav .menu-nav ul li{
    text-align: center;
    padding: 10px;
    color: rgb(255,255,255)
    }

nav .menu-nav ul li:hover{
    background-color: rgb(255,255,255);
    color: rgb(251, 119, 48);
}

main {
    display: flex;
    justify-content: center;
}



/* BODY/MAIN */

main {
    background-color: rgb(195, 195, 195);
    display: flex;
    justify-content: center;
}


#popup-func {
    padding: 0 150px 45px 150px;
    margin: 40px 0 40px 0;
    background-color: rgb(255,255,255);
    width: 500px;
    height: 1150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: start;
    height: 100%;
}

form h3{
    font-size: x-large;
    color: rgb(251, 125, 92);
}

input, #button-entre{
    height: 50px;
    width: 100%;
}

input {
    font-size:medium;
    border: 1px solid rgba(0,0,0,0.1);
    text-indent: 20px;
}

#button-cadastrar {
    background-color: rgb(225,96,61);
    color: rgb(255,255,255);

    font-size: large;
    border: 0;
    width: 100%;
    height: 50px;
}

#popup-func hr {
    border: 1px solid rgb(235,235,235);
    width: 100%;
    height: 0;

}

.hr-ou {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.hr-ou p {
    margin: 0 5px 0 5px;
    color: rgb(205,205,205);
}

main .list-buttons{
    margin: 25px 0 0 0;
    width: 100%;
}

ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}


ul li button{
    border: 1px solid rgb(205,205,205);
    background-color: rgb(255,255,255);    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    padding: 5px 10px 5px 10px;
}
ul li img {
    width: 30px;
    height: 30px;
}

p {
    color: rgb(205,205,205);
}

#p-cadastrar{
    margin-left: 5px;
    color: rgb(225,96,61);
}

#novo-xhopii{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.selecionar-foto {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}
#foto{
    border: 0px;
}

#foto::file-selector-button{
    background-color: rgb(255,255,255);
    color:rgb(251, 119, 48);
    border: 1px solid rgb(251, 119, 48);
    padding: 10px;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

