*{
    margin:0;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

/* -- HEADER -- */

header {
    background-color: rgb(235,235,235);
}

header .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 225px;

}

header .part2{
    display: flex;
    justify-content: start;
    align-items: center;
}

header .icone-xhopii{
    width: 50px;
    height: 50px;
}

header .header h1 {
    font-size: xx-large;
    color:rgb(225,96,61);
}

header section p {
    color:rgb(225,96,61);
}

/* -- MAIN -- */ 


main {
    background-color: rgb(225,96,61);
    display: flex;
    justify-content: center;
}


#popup-login {
    padding: 45px;
    margin: 40px 0 40px 0;
    background-color: rgb(255,255,255);
    width: 500px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
}

form h3{
    font-size: x-large;
}

input, #button-entre{
    height: 50px;
    width: 100%;
}

input {
    font-size:medium;
    border: 1px solid rgba(0,0,0,0.1);
    text-indent: 20px;
}

#button-entre {
    background-color: rgb(225,96,61);
    color: rgb(255,255,255);

    font-size: large;
}

#link-login {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#popup-login hr {
    border: 1px solid rgb(235,235,235);
    width: 100%;
    height: 0;

}

.hr-ou {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.hr-ou p {
    margin: 0 5px 0 5px;
    color: rgb(205,205,205);
}

main .list-buttons{
    margin: 25px 0 0 0;
    width: 100%;
}

ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}


ul li button{
    border: 1px solid rgb(205,205,205);
    background-color: rgb(255,255,255);    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    padding: 5px 10px 5px 10px;
}
ul li img {
    width: 30px;
    height: 30px;
}

p {
    color: rgb(205,205,205);
}

#p-cadastrar{
    margin-left: 5px;
    color: rgb(225,96,61);
}

#novo-xhopii{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}



/* FOOTER */

footer #footer {
    background-color: rgb(235,235,235);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: stretch;
    height: 300px;
}

footer ul li{
    margin-top:10px;
}

#footer ul h4{
    margin-top: 0;
    margin-bottom: 15px;
}

.pagamento{
    display: inline;
}
.pagamento section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 200px;
}

#footer .pagamento img{
    width: 40px;
    height: 30px;
    padding: 12px 12px 12px 0px;
}

#footer  #plataformas .plataforma{
    width: 100px;
    height: 50px;

}

#footer #plataformas .qrcode {
    width: 100px;
    height: 100px;
}

